{{- define "main" }}

  {{- if (and site.Params.profileMode.enabled .IsHome) }}
    {{- partial "index_profile.html" . }}
  {{- else }}
    {{/* if not profileMode */}}
      {{- if not .IsHome | and .Title }}
        <header class="page-header">
          {{- partial "breadcrumbs.html" . }}
          <h1>
            Experience
            {{- if (site.Params.education.ShowRssButtonInSectionTermList | default false) }}
              <a href="index.xml" title="RSS" aria-label="RSS">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  height="23"
                >
                  <path d="M4 11a9 9 0 0 1 9 9" />
                  <path d="M4 4a16 16 0 0 1 16 16" />
                  <circle cx="5" cy="19" r="1" />
                </svg>
              </a>
            {{- end }}
          </h1>
          {{- if .Description }}
            <div class="post-description">
              {{ .Description | markdownify }}
            </div>
          {{- end }}
        </header>
      {{- end }}

      {{- if .Content }}
        <div class="post-content">
          {{- if not ( site.Params.education.disableAnchoredHeadings ) }}
            {{- partial "anchored_headings.html" .Content -}}
          {{- else }}
            {{ .Content }}
          {{ end }}
        </div>
      {{- end }}

      {{- $pages := union .RegularPages .Sections }}

      {{- if .IsHome }}
        {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{- end }}

      {{- $paginator := .Paginate $pages }}

      {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
        {{- partial "home_info.html" . }}
      {{- end }}

      {{- $term := .Data.Term }}
      {{- range $index, $page := $paginator.Pages }}

        {{- $class := "post-entry" }}

        {{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
        {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
          {{- $class = "first-entry" }}
        {{- else if $term }}
          {{- $class = "post-entry tag-entry" }}
        {{- end }}
      {{- end }}

    {{ $articles := where (where .Site.RegularPages "Section" "experience") "Permalink" "!=" .Page.Permalink }}
    {{ $articles := sort $articles ".Params.End" "desc" }}
    {{ range  $articles }}

        {{/*  Calculate End Date  */}}
        {{- $end := now.UTC.Format "2006-01-02" }}
        {{- if ne .Params.Ongoing true }}
            {{- $end = .Params.End }}
        {{- end }}
        {{/*  Calculate Number of Years  */}}
        {{- $years := sub (int ( $end | dateFormat "2006")) (int (.Params.Start | dateFormat "2006")) }}
        {{/*  Months  */}}
        {{- $months := sub (int ( $end | dateFormat "1")) (int (.Params.Start | dateFormat "1")) }}
        {{- if lt $months 0 }}
            {{- $months = add 12 $months }}
            {{- $years = sub $years 1 }}
        {{- end }}
        {{/*  Duration String  */}}
        {{- $duration := "" }}
        {{- if and (gt $years 0) (gt $months 0) }}
            {{- $duration = printf "%d yrs %d mos" $years $months }}
        {{- else if gt $years 0 }}
            {{- $duration = printf "%d yrs" $years }}
        {{- else }}
            {{- $duration = printf "%d mos" $months }}
        {{- end}}

        <div class="card">
          <div class="card-back" >
            <div class="card-back-year">
                {{- $end | dateFormat "2006"}}
            </div>
            <div class="code">
              <span class="function">Role: </span>
              <span>{{ .Params.Role }}</span>
              <br />
              <span class="function">Period: </span> <span >{{ .Params.Start | dateFormat "Jan 2006" }} - </span >
              {{- if .Params.Ongoing }}
                <span >Present </span >
              {{- else }}
                <span >{{ $end | dateFormat "Jan 2006" }}</span >
              {{- end }}
              <br />
              <span class="function">Duration: </span>
              <span>{{ $duration }}</span>
              <br />
              {{- if .Summary }}
                <div class="card-content">
                    <span class="function">Description:</span>
                    <span >
                        {{ .Summary | plainify | htmlUnescape }}
                        {{ if .Truncated }}
                        ...
                        {{ end }}
                        </span >
                </div>
              {{- end }}
            </div>
          </div>
          <div class="card-front">
            <div class="card-front-year">
                {{- $end | dateFormat "2006"}}
            </div>
            <div class="code">
              <div class="method">
                {{- .Params.Role }}
              </div>
              <div class="boolean">
                {{ .Params.Company }}
                {{- if .Params.Jobtype }}
                     -  {{ .Params.Jobtype }}
                {{- end }}
              </div>
              <span>( {{ $duration }} )</span>

            </div>
          </div>
                <a
                    class="entry-link"
                    aria-label="post link to {{ .Title | plainify }}"
                    href="{{ .Permalink }}"
                ></a>
        </div>
      {{- end }}

    {{- partial "cv.html" . }}

    {{- end }}

  {{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
