{{- define "main" }}
  {{- if (and site.Params.profileMode.enabled .IsHome) }}
    {{- partial "index_profile.html" . }}
  {{- else }}
    {{/* if not profileMode */}}
      {{- if not .IsHome | and .Title }}
        <header class="page-header">
          {{- partial "breadcrumbs.html" . }}
          <h1>
            Experience
            {{- if (site.Params.education.ShowRssButtonInSectionTermList | default false) }}
              <a href="index.xml" title="RSS" aria-label="RSS">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  height="23"
                >
                  <path d="M4 11a9 9 0 0 1 9 9" />
                  <path d="M4 4a16 16 0 0 1 16 16" />
                  <circle cx="5" cy="19" r="1" />
                </svg>
              </a>
            {{- end }}
          </h1>
          {{- if .Description }}
            <div class="post-description">
              {{ .Description | markdownify }}
            </div>
          {{- end }}
        </header>
      {{- end }}

      {{- if .Content }}
        <div class="post-content">
          {{- if not ( site.Params.education.disableAnchoredHeadings ) }}
            {{- partial "anchored_headings.html" .Content -}}
          {{- else }}
            {{ .Content }}
          {{ end }}
        </div>
      {{- end }}

      {{- $pages := union .RegularPages .Sections }}

      {{- if .IsHome }}
        {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{- end }}

      {{- $paginator := .Paginate $pages }}

      {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
        {{- partial "home_info.html" . }}
      {{- end }}

      {{- $term := .Data.Term }}
      {{- range $index, $page := $paginator.Pages }}

        {{- $class := "post-entry" }}

        {{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
        {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
          {{- $class = "first-entry" }}
        {{- else if $term }}
          {{- $class = "post-entry tag-entry" }}
        {{- end }}
      {{- end }}

    {{/*  {{ $articles := where (where .Site.RegularPages "Section" "experience") "Permalink" "!=" .Page.Permalink }}
    {{ range sort $articles ".Params.End" "desc" }}  */}}

    {{ $articles := where (where .Site.RegularPages "Section" "experience") "Permalink" "!=" .Page.Permalink }}
    {{ $articles := sort $articles ".Params.End" "desc" }}
    {{ range  $articles }}

        <div class="card">
          <div class="card-back" icon-font="">
            <div class="code">
              <span class="function">Role: </span>
              <span>{{ .Params.Role }}</span>
              <br />
              <span class="function">Period: </span> <span >{{ .Params.Start | dateFormat "Jan 2006" }} - </span >
              {{- if .Params.Ongoing }}
                <span >Present </span >
              {{- else }}
                <span >{{ .Params.End | dateFormat "Jan 2006" }}</span >
              {{- end }}
              <br />
              <div class="card-content">
              <span class="function">Description:</span>
              <span >
                {{ .Summary | plainify | htmlUnescape }}
                {{ if .Truncated }}
                  ...
                {{ end }}
                </span >
              </div>
            </div>
          </div>
          <div class="card-front" icon-font="">
            <div class="code">
              <div class="method">
                {{- .Params.Role }}
              </div>
              <div class="boolean">
                {{ .Params.Company }}
              </div>
              <br />
              <span >{{ .Params.Start | dateFormat "Jan 2006" }}  <-  </span >
              <span>({{ .Params.Duration }}) -></span>
              {{- if .Params.Ongoing }}
                <span >Present </span >
              {{- else }}
                <span >{{ .Params.End | dateFormat "Jan 2006" }}</span >
              {{- end }}

            </div>
          </div>
                <a
                    class="entry-link"
                    aria-label="post link to {{ .Title | plainify }}"
                    href="{{ .Permalink }}"
                ></a>
        </div>
      {{- end }}

    {{- end }}

  {{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
