{{- define "main" }}


    {{/*  Calculate End Date  */}}
    {{- $end := now.UTC.Format "2006-01-02" }}
    {{- if ne .Params.Ongoing true }}
        {{- $end = .Params.End }}
    {{- end }}
    {{/*  Calculate Number of Years  */}}
    {{- $years := sub (int ( $end | dateFormat "2006")) (int (.Params.Start | dateFormat "2006")) }}
    {{/*  Months  */}}
    {{- $months := sub (int ( $end | dateFormat "1")) (int (.Params.Start | dateFormat "1")) }}
    {{- if lt $months 0 }}
        {{- $months = add 13 $months }}
        {{- $years = sub $years 1 }}
    {{- else }}
        {{- $months = add $months 1 }}
    {{- end }}
    {{/*  Duration String  */}}
    {{- $duration := "" }}
    {{- if and (gt $years 0) (gt $months 0) }}
        {{- $duration = printf "%d yrs %d mos" $years $months }}
    {{- else if gt $years 0 }}
        {{- $duration = printf "%d yrs" $years }}
    {{- else }}
        {{- $duration = printf "%d mos" $months }}
    {{- end}}


<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title exp-single-title">
      {{ .Params.Role }}
    </h1>
    <div class="post-description exp-single-company">
      {{ .Params.Company }} - {{ .Params.Jobtype }}
    </div>
    <div class="post-meta">
        {{- if ne .Params.Ongoing true }}
            {{ .Params.Start | dateFormat "Jan 2006" }} - {{ $end | dateFormat "Jan 2006" }} ({{ $duration }})
        {{- else }}
            {{ .Params.Start | dateFormat "Jan 2006" }} - Present ({{ $duration }})
        {{- end }}
    </div>
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer exp-post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "exp_post_nav_links.html" . }}
    {{- end }}
  </footer>

  {{/*  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}  */}}
</article>

{{- end }}{{/* end main */}}
